name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: gradle-update/update-gradle-wrapper-action@v2
